@use 'tokens' as tokens; // style-dictionary이 생성한 파일

:root {
  --primary: #{tokens.$tokens-light-primary};
  --secondary: #{tokens.$tokens-light-secondary};
  --background: #{tokens.$tokens-light-background};
  --error: #{tokens.$tokens-light-error};
  --content-primary: #{tokens.$tokens-light-content-primary};
  --content-secondary: #{tokens.$tokens-light-content-secondary};
  --gray-1: #{tokens.$tokens-light-gray-1};
}

@media (prefers-color-scheme: dark) {
  :root,
  [data-theme='dark'] {
    --primary: #{tokens.$tokens-dark-primary};
    --secondary: #{tokens.$tokens-dark-secondary};
    --background: #{tokens.$tokens-dark-background};
    --error: #{tokens.$tokens-dark-error};
    --content-primary: #{tokens.$tokens-dark-content-primary};
    --content-secondary: #{tokens.$tokens-dark-content-secondary};
    --gray-1: #{tokens.$tokens-dark-gray-1};
  }
}
