@use '@styles/theme.scss';

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--content-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
